.dropdown1 {
  position: relative;
  line-height: 56px;
}
.dropdown-label1,
.title2 {
  display: flex;
  align-items: center;
}
.title2 {
  align-self: stretch;
  border-radius: var(--br-xl);
  background-color: var(--neutral-white);
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-21xl) var(--padding-101xl);
}
.dropdown-label1 {
  width: 340px;
  position: relative;
  line-height: 30px;
  font-weight: 500;
  z-index: 0;
}
.select-value1 {
  flex: 1;
  position: relative;
  line-height: 24px;
}
.icon1 {
  width: 24px;
  position: relative;
  height: 24px;
}
.dropdown-form6,
.dropdown-form7 {
  width: 345px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-3xs);
}
.dropdown-form6 {
  flex: 1;
  border-radius: var(--br-9xs);
  border: 1px solid var(--text-8);
  overflow: hidden;
  gap: var(--gap-3xs);
  z-index: 1;
  color: var(--neutral-4);
}
.dropdown-form7 {
  border-top: 1px solid var(--text-8);
  height: 40px;
}
.dropdown-form-wrapper,
.no-of-options1-openno {
  position: absolute;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.dropdown-form-wrapper {
  margin: 0 !important;
  top: 71px;
  left: 0;
  border-radius: var(--br-9xs);
  border: 1px solid var(--text-8);
  overflow: hidden;
  display: flex;
  z-index: 2;
}
.no-of-options1-openno {
  top: 20px;
  left: 20px;
}
.dropdown-form11,
.no-of-options1-openno,
.no-of-options2-openno {
  border-radius: var(--br-9xs);
  overflow: hidden;
  display: flex;
}
.no-of-options2-openno {
  position: absolute;
  top: 19px;
  left: 425px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.dropdown-form11 {
  width: 345px;
  border: 1px solid var(--text-8);
  box-sizing: border-box;
  height: 40px;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-3xs);
  gap: var(--gap-3xs);
  z-index: 1;
  color: var(--neutral-4);
}
.no-of-options1-openyes,
.no-of-options3-openno,
.no-of-options4-openno,
.no-of-options5-openno {
  position: absolute;
  top: 19px;
  left: 830px;
  border-radius: var(--br-9xs);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.no-of-options1-openyes,
.no-of-options4-openno,
.no-of-options5-openno {
  left: 1235px;
}
.no-of-options1-openyes,
.no-of-options5-openno {
  left: 1640px;
}
.no-of-options1-openyes {
  top: 112px;
  left: 20px;
}
.dropdown-label7 {
  width: 340px;
  position: relative;
  line-height: 30px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.dropdown-form28 {
  width: 345px;
  border-radius: var(--br-9xs);
  border: 1px solid var(--text-8);
  box-sizing: border-box;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-3xs);
  gap: var(--gap-3xs);
  color: var(--neutral-4);
}
.dropdown-form-parent2,
.no-of-options2-openyes {
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.dropdown-form-parent2 {
  background-color: var(--neutral-white);
  border: 1px solid var(--text-8);
  overflow: hidden;
}
.no-of-options2-openyes {
  position: absolute;
  top: 111px;
  left: 425px;
  height: 72px;
}
.dropdown-label8 {
  width: 400px;
  position: relative;
  line-height: 30px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.dropdown-form31,
.dropdown-form33 {
  box-sizing: border-box;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-3xs);
}
.dropdown-form31 {
  width: 400px;
  border-radius: var(--br-9xs);
  border: 1px solid var(--text-8);
  overflow: hidden;
  flex-shrink: 0;
  gap: var(--gap-3xs);
  color: var(--neutral-4);
}
.dropdown-form33 {
  align-self: stretch;
  border-top: 1px solid var(--text-8);
}
.dropdown-form-parent3,
.no-of-options3-openyes,
.no-of-options4-openyes,
.no-of-options5-openyes {
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.dropdown-form-parent3 {
  width: 400px;
  background-color: var(--neutral-white);
  border: 1px solid var(--text-8);
  box-sizing: border-box;
  overflow: hidden;
}
.no-of-options3-openyes,
.no-of-options4-openyes,
.no-of-options5-openyes {
  position: absolute;
  top: 111px;
  left: 830px;
}
.no-of-options4-openyes,
.no-of-options5-openyes {
  left: 1235px;
}
.no-of-options5-openyes {
  left: 1640px;
}
.dropdown-form46 {
  width: 345px;
  flex: 1;
  border-radius: var(--br-9xs);
  border: 1px solid var(--text-8);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-3xs);
  gap: var(--gap-3xs);
  z-index: 1;
}
.no-of-options1-openno1 {
  position: absolute;
  top: 243px;
  left: 20px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.dropdown-form50,
.no-of-options1-openno1,
.no-of-options2-openno1 {
  border-radius: var(--br-9xs);
  overflow: hidden;
  display: flex;
}
.no-of-options2-openno1 {
  position: absolute;
  top: 282px;
  left: 425px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.dropdown-form50 {
  width: 345px;
  border: 1px solid var(--text-8);
  box-sizing: border-box;
  height: 40px;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-3xs);
  gap: var(--gap-3xs);
  z-index: 1;
}
.no-of-options2-openno2,
.no-of-options3-openno1,
.no-of-options3-openno2,
.no-of-options4-openno1,
.no-of-options4-openno2,
.no-of-options5-openno1 {
  position: absolute;
  top: 322px;
  left: 830px;
  border-radius: var(--br-9xs);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.no-of-options2-openno2,
.no-of-options3-openno2,
.no-of-options4-openno1,
.no-of-options4-openno2,
.no-of-options5-openno1 {
  top: 362px;
  left: 1235px;
}
.no-of-options2-openno2,
.no-of-options3-openno2,
.no-of-options4-openno2,
.no-of-options5-openno1 {
  top: 402px;
  left: 1640px;
}
.no-of-options2-openno2,
.no-of-options3-openno2,
.no-of-options4-openno2 {
  top: 364px;
  left: 425px;
}
.no-of-options3-openno2,
.no-of-options4-openno2 {
  top: 404px;
  left: 830px;
}
.no-of-options4-openno2 {
  top: 444px;
  left: 1235px;
}
.no-of-options3-openno3,
.no-of-options4-openno3,
.no-of-options4-openno4,
.no-of-options5-openno2,
.no-of-options5-openno3,
.no-of-options5-openno4,
.no-of-options5-openno5 {
  position: absolute;
  top: 484px;
  left: 1640px;
  border-radius: var(--br-9xs);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.no-of-options3-openno3,
.no-of-options4-openno3,
.no-of-options4-openno4,
.no-of-options5-openno3,
.no-of-options5-openno4,
.no-of-options5-openno5 {
  top: 486px;
  left: 830px;
}
.no-of-options4-openno3,
.no-of-options4-openno4,
.no-of-options5-openno3,
.no-of-options5-openno4,
.no-of-options5-openno5 {
  top: 526px;
  left: 1235px;
}
.no-of-options4-openno4,
.no-of-options5-openno3,
.no-of-options5-openno4,
.no-of-options5-openno5 {
  top: 566px;
  left: 1640px;
}
.no-of-options4-openno4,
.no-of-options5-openno4,
.no-of-options5-openno5 {
  top: 608px;
  left: 1235px;
}
.no-of-options5-openno4,
.no-of-options5-openno5 {
  top: 648px;
  left: 1640px;
}
.no-of-options5-openno5 {
  top: 730px;
}
.dropdown-form5 {
  width: 2034px;
  position: relative;
  border-radius: var(--br-8xs);
  border: 1px dashed var(--color-blueviolet-100);
  box-sizing: border-box;
  height: 853px;
  overflow: hidden;
  flex-shrink: 0;
}
.dropdown,
.inner-container2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.inner-container2 {
  border-radius: var(--br-xl);
  background-color: var(--neutral-white);
  padding: var(--padding-77xl) var(--padding-101xl);
  font-size: var(--text-regular-2-size);
  color: var(--neutral-2);
}
.dropdown {
  position: relative;
  border-radius: var(--br-21xl);
  background: linear-gradient(132.43deg, #ffa800, #ffcb66);
  width: 100%;
  overflow: hidden;
  padding: var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--headings-headline-48-size);
  color: var(--neutral-1);
  font-family: var(--text-regular-2);
}
